/* Imports */
@import url(scrolltext.css);

/* Global */
body {
    /*background-color: #1b1b1d;*/
    background-image: url(../assets/images/binding_dark.png);
    background-repeat: repeat;
}

.heading-holder {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.heading {
    background-color: #ed6f1b;
    padding: 10px;
    * {
        text-align: center;
    }
}